
/* COGS3 studyBuddy specific styles go here. */
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}




.montserrat-main-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
}



#title{

  background-image: linear-gradient(to right, rgb(76, 48, 11) , rgb(165, 102, 71));

}

h1{

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white
}

.projects{
  font-size: 100px;

}

.titletext{
  font-size: 100px;
  text-align: center;
}

h2{

  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  color: black
}

h3{

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.bigfont {
 font-size: 100px;


}

p{
  color: #8f8f8f;


}

.container-fluid{
  
  padding: 3% 15%;

}

/*naviagtion bar*/

.navbar-brand{

  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{

  padding: 0 0 4.5rem;
 

}

.nav-item{

  padding: 0 18px;
 
}

.nav-link{

  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: aliceblue;

}

/*Download Buttons*/

.download-button{

  margin: 5% 3% 5% 0;


}

/*Title Image*/

.title-image{

  width: 60%;
  transform: rotate(20deg);
  ;
}

.imagesize{
    width: 10%;
}

@media(max-width: 1028px){
  
  #title{
    text-align: center;
  }
  
  .title-image{
    position: static;
    transform: rotate(0);
  }

}



/*Testimonial*/

#testimonials{

  padding: 7% 15%;
  text-align: center;
  background-image: linear-gradient(to top, rgb(76, 48, 11) , rgb(165, 102, 71));

}

.testimonial-image{

  width: 10%;
  border-radius: 50%;
  margin: 10px;
}

#press{
  background-color: rgb(76, 48, 11);
  text-align: center;

}

.press-logo{
  width: 10%;
  margin: 20px 20px 50px;

}

/*feature section*/

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{

  text-align: center;
  padding: 5%;
}

.icon{

  color: brown;
  margin-bottom: 1rem;
}

.icon:hover{

  color: wheat;
}

/*Carousel Item*/

.carousel-item{

  padding: 7% 15%;
}

/*Pricing Section*/

#pricing{

  padding: 100px;
  text-align: center;
}

.pricing-header{
  color: #000;
}

.pricing-column{

  padding: 3% 2%;
}

/*Call To Action Section CTA*/

.cta-heading{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;

}

#cta{
  background-color: rgb(76, 48, 11);
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

/*Footer Section*/

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
  
}


/*Media Query Section*/

@media(max-width: 1028px){
  
  #title{
    text-align: center;
  }
  
  .title-image{
    position: static;
    transform: rotate(0);
  }

}